body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#container {
  width: 960px;
  margin: 0 auto;
}

#header {
  height: 100px;
  font-size: 42px;
  font-weight: lighter;
  background-color: #F38630;
  padding: 40px 0 0 20px;
}

#content {
  width: 100%;
  float: left;
  padding: auto;
}

.demo {
  background-color: #A7DBD8;
  font-size: 32px;
  font-weight: lighter;
  padding: 5px;
  margin: 5px 5px 500px 5px;
}

#content div {
 background-color: #E0E4CC;
}

#content span {
  background-color: #E0E4CC;
}